.article-image{
    display: block;
    margin: 0 auto;
}
.article-text{
    padding-top: 20px;
}
.mobile-article-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.qa {
    font-size: 20px;
}
.qa h4{
    font-size: 20px;
    color: #5cb85c;
}
.qa h5{
    font-size: 20px;
}
.citation{
    font-size: 15px;
    text-align: right;
}
.right-align{
    float: right;
    width: 25%;
    height: 25%;
}
.paragraph{
    padding-top: 10px;
    padding-bottom: 10px;
}
.quote-padding{
    padding-top: 10px;
}
.article-image {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mobile-article-button-padding{
    padding-top : 10px;
    padding-bottom:  10px;
}
