
.article-text{
    padding-top: 20px;
}
.mobile-article-padding{
    padding-left: 50px;
    padding-right: 50px;
}
.qa {
    font-size: 24px;
}
.qa h4{
    font-size: 20px;
    color: #5cb85c;
}
.qa h5{
    font-size: 20px;
}
.citation{
    font-size: 15px;
    text-align: right;
}
.right-align{
    float: right;
    padding-top: 30px;
    margin-left: 20px;
    width: 35%;
    height: 35%;
}
.left-align{
    float: left;
    padding-top: 10px;
    margin-right: 20px;
    width: 35%;
    height: 35%;
}
.indent-paragraph{
    margin-left: 50px;
    margin-right: 50px;
}
.paragraph{
    padding-top: 10px;
    padding-bottom: 10px;
}
.quote-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.accounting-header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-image{
    float: left;
    margin-right: 20px;

    width: 50%;
    height: 50%;
}
.accounting-image{
    float: right;
    margin-left: 20px;

    width: 30%;
    height: 30%;
}
.article-image {
    padding-top: 10px;
    padding-bottom: 30px;
}
.mobile-article-button-padding{
    padding-top : 10px;
    padding-bottom:  10px;
}
.header{
     text-decoration: underline;
}
