.mobile-course-wrapper{
    margin-left: 50px;
    margin-right: 50px;
}
.notice{
    padding-top: 20px;
}

.course-padding{
    padding-top: 20px;
}

.qa h4{
    font-size: 20px;
    color: #5cb85c;
}
.qa h5{
    font-size: 20px;
}
.course-text-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.whyus{
    font-size: 20px;
}
.well{
    font-size: 20px;
}
.link-padding
{
    margin-top: 10px;
    margin-bottom: 10px;
}
