@font-face {
    font-family: 'Quark-Light';
    src: url('../fonts/Quark-Light.otf');
}
.custom-footer{
    text-align: center;
    font-family: 'Quark-Light';
}
.footer-below{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    background-color: #363e49;
}
.contact-info{
    font-size: 20px;
}
.footer-line{
    width: 15%;
    height:15%;
}
.footer-phone{
    width: 15%;
    height:15%;
    margin-left: 70px;
}
.footer-margin
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.facebook-footer{
    width : 10%;
    height : 10%;
}
.instagram-icon-footer{
    width : 10%;
    height : 10%;
    margin-left: 10px;
}
.social-row-padding{
    padding-top:10px;
    margin-right: 20px;
}
