
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.desktop-navbar-offset{
    margin-top: 131px;
}
.mobile-navbar-offset{
    margin-top : 50px;
}
.container{
    padding:  50px 0 50px 0;
}



p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #ffffff;
}

.img-centered {
  margin: 0 auto;
}

hr.colored-line
{
    border: 0 none;
    height: 2px;
    width : 50%;
}

.m-purple { background-color: #a745ba; }
.m-teal { background-color: #00ABA9; }
.m-brown { background-color: #A05000; }
.m-pink { background-color: #E671B8; }
.m-yellow { background-color: #f8c700;}
.m-orange { background-color: #F09609; }
.m-blue { background-color: #0096e2; }
.m-darkblue { background-color: #2f4860;}
.m-red { background-color: #fc3019; }
.m-green { background-color: #00c39d; }
.m-grey { background-color: #b6b6b6; }
.m-darkgrey { background-color: #606060; }
.m-white {background-color: #ffffff; }
