@font-face {
    font-family: 'Quark-Light';
    src: url('../fonts/Quark-Light.otf');
}
@font-face {
    font-family: 'Quark-Bold';
    src: url('../fonts/Quark-Bold.otf');
}
body {
  font-family: 'Quark-Light';
  overflow-x: hidden;
}
strong {
    font-family: 'Quark-Bold';
}
h1,h2,h3,h4{
  font-family: 'Quark-Bold';
}
.desktop-navbar-offset{
    margin-top: 131px;
}
.mobile-navbar-offset{
    margin-top : 50px;
}
.container{
    padding:  50px 0 50px 0;
}



p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #ffffff;
}

.img-centered {
  margin: 0 auto;
}

hr.colored-line
{
    border: 0 none;
    height: 2px;
    width : 50%;
}

.m-purple { background-color: #a745ba; }
.m-teal { background-color: #00ABA9; }
.m-brown { background-color: #A05000; }
.m-pink { background-color: #E671B8; }
.m-yellow { background-color: #f8c700;}
.m-orange { background-color: #F09609; }
.m-blue { background-color: #0096e2; }
.m-darkblue { background-color: #2f4860;}
.m-red { background-color: #fc3019; }
.m-green { background-color: #00c39d; }
.m-grey { background-color: #b6b6b6; }
.m-darkgrey { background-color: #606060; }
.m-white {background-color: #ffffff; }
.qa-green { color: #5cb85c; }
.purple { color: #a745ba; }
.deep-purple { color: #ec0093}
.teal { color: #00ABA9; }
.brown { color: #A05000; }
.pink { color: #E671B8; }
.yellow { color: #f8c700;}
.orange { color: #F09609; }
.blue { color: #0096e2; }
.darkblue { color: #2f4860;}
.red { color: #fc3019; }
.green { color: #00c39d; }
.grey { color: #b6b6b6; }
.darkgrey { color: #606060; }
.white {color: #ffffff; }
