.banner {
    height: 75vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}
.showcase-header-wrapper{
    text-align: center;
    padding-bottom: 20px;
}
.mobile-showcase{
    margin-bottom: 20px;
}
.showcase img{
    width: 75%;
    height: 75%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.mobile-showcase img{
    width: 75%;
    height: 75%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.caption{
    margin-top: 20px;
    margin-bottom: 20px;
    width:300px;
    display:block;
    margin-left: 70px;


}
.mobile-caption{
    margin-left: 90px;
    margin-top: 20px;
}
