.container h2 {
    padding-top :100px;
    text-align: center;
}
hr.heart{
	border-top: 4px double #8c8b8b;
	text-align: center;
    width: 400px;
}
.header-metro-grid{
    margin-top: 50px;
    margin-bottom: 50px;
}
.register-container{
    margin-bottom: 50px;
}
