.metro-grid{
    width: 200px;
    height: 250px;
    margin-left: 20px;
    text-align: center;
}
.mobile-metro-grid{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
}
.mobile-tutorinfo-wrapper{
    margin-left: 50px;
    margin-right: 50px;
}
.center-block{
    text-align:left;
    margin:auto;
}
.tutor-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.tutor-quote{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tutor-row{
    margin-left: 50px;

}
.tutor-row-text{
    color:white;
    font-size: 18px;
    padding-top : 10px;
}
.tutor-content{
    font-size: 24px;
}
.tutor-subtext{
    font-size: 16px;
}
.tutor-container{
    max-width: 960px;
}
.section-heading{
    padding-bottom: 26px;
}
