.metro-grid{
    background-color: #fc3019;
    width: 200px;
    height: 250px;
    margin-left: 20px;
    text-align: center;
}
.tutor-row{
    margin-left: 50px;

}
.tutor-row-text{
    color:white;
    font-size: 18px;
    padding-top : 10px;
}
.tutor-container{
    padding-bottom: 50px;
    padding-top : 50px;
}
.section-heading{
    padding-bottom: 26px;
}
.m-purple { background-color: #a745ba; }
.m-teal { background-color: #00ABA9; }
.m-brown { background-color: #A05000; }
.m-pink { background-color: #E671B8; }
.m-yellow { background-color: #f8c700;}
.m-orange { background-color: #F09609; }
.m-blue { background-color: #0096e2; }
.m-darkblue { background-color: #2f4860;}
.m-red { background-color: #fc3019; }
.m-green { background-color: #00c39d; }
.m-grey { background-color: #b6b6b6; }
.m-darkgrey { background-color: #606060; }
.m-white {background-color: #ffffff; }
hr.blue-colored-line
{

    border: 0 none;
    background-color:  #0096e2;
    height: 2px;
    width : 50%;
}
