.metro-grid{
    width: 200px;
    height: 250px;
    margin-left: 20px;
    text-align: center;
}
.mobile-metro-grid{
    width: 200px;
    height: 240px;
    margin-left: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.tutor-row{
    margin-left: 50px;

}
.tutor-row-text{
    color:white;
    font-size: 18px;
    padding-top : 10px;
}

.tutor-container{
    max-width: 960px;
}
.section-heading{
    padding-bottom: 26px;
}
